* {
    --webkit-box-sizing : border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:#FF9800;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* Start Settings Box  */
.settings-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #FFF;
    width: 200px;
    z-index: 1000;
    height: 100vh;
    transition: 0.3s;
    border: 1px solid #EEE;
}
.settings-box.open {
    left: 0;
}
.settings-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: white;
    border-radius: 0 6px 6px 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.settings-box .toggle-settings .icon {
    padding: 8px 0;
    width: 30px;
}
.settings-box .settings-container .option-box {
    padding: 10px;
    text-align: center;
    background-color: #eee;
    margin: 10px;
    border-radius: 6px;
}
.settings-box .option-box h4 {
    margin: 0;
    color: #666;
    font-size: 14px;
}
.settings-box .option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
    width: 24px;
    height: 24px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EEE;
}
.settings-box .option-box .colors-list li.active {
    border-color: #FFF;
}
.settings-box .option-box .colors-list li:first-child {
    background-color: #FF9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
    background-color: #E91E63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
    background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
    background-color: #03A9F4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
    background-color: #4CAF50;
}
.settings-box .option-box .yes,
.settings-box .option-box .no {
    width: 50px;
    background-color: var(--main-color);
    color: #FFF;
    margin: 10px 0;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
    opacity: 0.5;
    cursor: pointer;
}
.settings-box .option-box span.active {
    opacity: 1;
}
.settings-box .rest_options {
    background-color: #F44336;
    border: none;
    width: 178px;
    margin: 10px auto;
    display: block;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
/* End Settings Box  */
/* Stat Navigation Bullets  */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-color);
    margin: 20px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main-color);
    color: #FFF;
    width: 120px;
    position: absolute;
    padding: 8px 10px;
    right: 32px;
    top: -10px;
    border-radius: 6px 0 0 6px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
    display: none;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip::after {
    content: "";
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);

}
/* End Navigation Bullets  */
/* Start Landing Page  */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/01.jpg);
    background-size: cover;
}
.landing-page .overlay {
    background-color: rgb(0 0 0 / 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0%;
    z-index: 1;
}
.landing-page .container {
    position: relative;
    z-index: 1000;
}
.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
}
.header-area .links-container {
    width: 100%;
    text-align: right;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
    width: 100%;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a {
    color: #FFF;
    text-decoration: none;
    transition: 0.3s;
}
.header-area .links li a:hover,
.header-area .links li a.active {
    color: var(--main-color);
}
.header-area .toggle-menue {
    background-color: transparent;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
    position: relative;
}
.header-area .toggle-menue.menu-active::before {
        content: "";
        position: absolute;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #FFF transparent;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
}
.header-area .toggle-menue:focus {
    outline: none;
}
.header-area .toggle-menue span {
    display: block;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
}
.introdaction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translate(-50%,-50%);
    z-index: 2;
    color: #FFF;
    text-align: center;
}
.introdaction-text h1 {
    font-size: 34px;
    margin: 0 0 12px;
}
@media (max-width: 575px) {
    .introdaction-text h1 {
        font-size: 26px;
    }
}
.introdaction-text h1 span {
    color: var(--main-color);
}
.introdaction-text p {
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }
    .header-area .links.open {
        background-color: #FFF;
        padding: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
    }
    .header-area .links.open li {
        display: block;
        margin: 10px;
    }
    .header-area .links.open li a {
        color: var(--main-color);
        font-weight: bold;
    }
    .header-area .toggle-menue {
        display: inline-block;
    }
}
/* End Landing Page  */
/* Start About US  */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
@media (max-width: 991px) {
    .about-us {
        display: block;
        text-align: center;
    }
}
.about-us .info {
    flex: 1;
    padding: 30px;
}
@media (max-width: 991px) {
    .about-us .info {
        padding: 0;
    }
}
.about-us .info h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 10px ;
}
.about-us .info p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image {
    flex: 1;
    text-align: center;
}
.about-us .image img {
    width: 250px;
}
/* End About US  */
/* Start Skills  */
.skills {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
}
.skills h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
@media (max-width: 991px) {
    .skills .skill-box {
        display: block;
    }
}
.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
@media (max-width: 991px) {
    .skills .skill-box .skill-name {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}
.skills .skill-box .skill-progress {
    height: 30px;
    width: calc(100% - 140px);
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 991px) {
    .skills .skill-box .skill-progress {
        width: 100%;
    }
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    border-radius: 6px;
    background-color: var(--main-color);
    transition: all 0.3s;
}
/* End Skills  */
/* Start Gallary  */
.gallary {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FFF;
    text-align: center;
}
.gallary h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px;
    text-align: center;
}
.gallary .images {
    text-align: center;
}
.gallary .images img {
    width: 200px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgb(0 0 0 / 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 1px solid #ccc;
    padding: 20px;
    z-index: 10001;
}
.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 0 20px;
    color: var(--main-color);
}
.popup-box .close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
}
.popup-box img {
    max-width: 100%;
}
/* End Gallary  */
/* Start TimeLine */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;   
}
.timeline .timeline-content::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -1px;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
@media (max-width: 767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .left::before,
    .timeline .timeline-content .right::before {
        display: none;
    }
    .timeline .timeline-content .left .content::before,
    .timeline .timeline-content .right .content::before {
        display: none;
    }
}
.timeline .timeline-content .left {
    float: left;
}

.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #FFF;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .left::before {
    right: -35px;
}
.timeline .timeline-content .right::before {
    left: -35px;
}
.timeline .timeline-content .content {
    padding: 20px;
    background-color: #FFF;
}
.timeline .timeline-content .content h3 {
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px;
}
.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    line-height: 1.6;
}
.clearfix {
    clear: both;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    height: 0;
    width: 0;
    top: 20px;
}
.timeline .timeline-content .left .content::before {
    border-color: transparent transparent transparent #FFF;
    right: -19px;
}
.timeline .timeline-content .right .content::before {
    border-color: transparent #FFF transparent transparent;
    left: -19px;
}
/* End TimeLine */
/* Start Features  */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #FFF;
}
.features h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width: 991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width: 575px) {
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img {
    width: 128px;
}
.features .feat-box h4 {
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 4px;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
    background-color: var(--main-color);
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* End Features  */
/* Statr Tastimonals */
.tastimonals {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.tastimonals::before,
.tastimonals::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
}
.tastimonals::before {
    left: 0;
    background-color: var(--main-color);
}
.tastimonals::after {
    right: 0;
    background-color: #333;
}
.tastimonals h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
@media (max-width: 767px) {
    .tastimonals h2 {
        text-align: center;
    }
}
.tastimonals .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #FFF;
    padding: 20px;
}
@media (max-width: 767px) {
    .tastimonals .ts-box {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
}
.tastimonals .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.tastimonals .ts-box > p {
    margin: 0 0 15px;
    line-height: 1.5;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.tastimonals .ts-box .person-info {
    overflow: hidden;
}
@media (max-width: 991px) {
    .tastimonals .ts-box .person-info {
        text-align: center;
        overflow: visible;
    }
}
.tastimonals .ts-box .person-info img {
    float: left;
    margin-right: 20px;
    max-width: 90px;
}
@media (max-width: 991px) {
    .tastimonals .ts-box .person-info img {
        float: none;
        margin-right: 0;
    }
}
.tastimonals .ts-box .person-info h4 {
    margin: 14px 0 10px;
}
.tastimonals .ts-box .person-info p {
    color: #707070;
    margin: 0;
    font-size: 13px;
}
/* End Tastimonals */
/* Start Contact US  */
.contact {
    min-height: 600px;
    background-image: url('../imgs/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 0.6);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
@media (max-width: 767px) {
    .contact form .left ,
    .contact form .right {
        float: none;
        width: 100%;
    }
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgb(218 218 218 /0.19);
}
.contact form input:not([type="submit"]):focus ,
.contact form textarea:focus {
    outline: none;
    border: 1px solid var(--main-color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    background-color: var(--main-color);
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: 0.3s;
}
/* End Contact US  */
/* Start Footer  */
.footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}
/* End Footer  */
/* Start Grid System  */
@media (min-width: 576px) { /*Small Devices*/ 
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) { /*medium Devices*/ 
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) { /*large Devices*/ 
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) { /*Extra large Devices*/ 
    .container {
        max-width: 1140px;
    }
}
/* End Grid System  */